:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --color-cream: #f0fffc;
  --color-cream-extralight: #f8fffe;
  --color-cream-extralight-rgb: 248, 255, 254;
  --color-cream-light: #f3fffd;
  --color-cream-light-rgb: 243, 255, 253;
  --color-cream-medium: #d8e6e3;
  --color-cream-medium-rgb: 216, 230, 227;
  --color-cream-rare: #c0ccca;
  --color-cream-rare-rgb: 192, 204, 202;
  --color-cream-dark: #606665;
  --color-cream-dark-rgb: 96, 102, 101;
  --color-cream-midnight: #181919;
  --color-cream-midnight-rgb: 24, 25, 25;

  --foreground-rgb: var(--color-cream-midnight-rgb);
  --background-start-rgb: var(--color-cream-medium-rgb);
  --background-end-rgb: var(--color-cream-light-rgb);

  --font-size-h1: 3.815rem;
  --font-size-h2: 3.052rem;
  --font-size-h3: 2.441rem;
  --font-size-h4: 1.953rem;
  --font-size-h5: 1.563rem;
  --font-size-h6: 1.25rem;
  --font-size-p: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1,
.h1 {
  font-size: var(--font-size-h1);
}

h2,
.h2 {
  font-size: var(--font-size-h2);
}

h3,
.h3 {
  font-size: var(--font-size-h3);
}

h4,
.h4 {
  font-size: var(--font-size-h4);
}

h5,
.h5 {
  font-size: var(--font-size-h5);
}

h6,
.h6 {
  font-size: var(--font-size-h6);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 400;
}

p {
  font-size: var(--font-size-p);
}

a {
  font-size: inherit;
  color: rgb(var(--foreground-rgb));
}
